body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F4F4;
    font-family: "Merriweather", Courier, monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Courier, monospace;
}

p {
    font-size: 1.25em;
}

.background-image {
    background-image: url("");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.navbar {
    width: 100vw;
    height: 7.5em;
    background-color: #00303F;
    margin-top: 0;

}

.navbar h1 {
    color: white;
    display: inline-block;
    margin-top: 1em;
    margin-left: 3em;
    letter-spacing: 0.075em;
    font-size: 2.25em;
}

.navbar nav {
    display: inline-block;
    margin-left: 50em;
}

.navbar nav a {
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    margin-right: 2em;
}

.biography {
    margin-top: 0;
    margin-left: 0;
    width: 100vw;
    height: 90vh;
}

.biography section {
    display: inline-block;
    margin-top: 3em;
    margin-left: 3em;
    width: 75vw;
    height: 78vh;
    background-color: #CAE4DB;
    position: absolute;
    z-index: 1;
}

.biography h2 {
    margin-top: 3em;
    margin-left: 10em;
    font-size: 2.25em;
}

.biography p {
    margin-top: 3em;
    margin-left: 3em;
    width: 750px;
}

.bio-photo {
    display: inline-block;
    position: relative;
    float: right;
    z-index: 2;
    margin-top: 6em;
    margin-right: 6em;
    width: 30vw;
    height: 67vh;
    background-color: #CDAC81;
    min-width: 30vw;
}

.projects {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 7.5em;
    background-color: #CDAC81;
}

.projects h3 {
    margin-top: 1em;
    text-align: center;
    color: #00303F;
    font-size: 2.25em;
}

.projects-content {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    width: 90vw;
    height: 80vh;
    background-color: #CAE4DB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

article.projects-content section {
    width: 26%;
    height: 26.5em;
    background-color: white;
}

.container {
    text-align: center;
}

/* hover over polaroid zoom */
.project-polaroid:hover {
    width: 32%;
    height: 30;
    transition: ease 300ms;
}

.project-polaroid:hover .container {
    display: none;
}

footer {
    width: 100vw;
    height: 7.5em;
    background-color: #00303F;
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

footer h4 {
    color: white;
}