body {
    margin: 0;
    padding: 0;
    background-color: #F5F4F4;
    font-family: "Merriweather", Courier, monospace;
    width: 100%;
    overflow: auto;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather Sans", Courier, monospace;
}

p {
    font-size: 1.25em;
}

.background-image {
    background-image: url("https://i.pinimg.com/originals/dd/2f/90/dd2f905bf2b8b5156059fa935ea23b97.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.socials-top {
    display: flex;
    justify-content: right;
    padding-top: 1em;
}

.socials-top a {
    text-decoration: none;
    color: white;
    font-size: 2.25em;
    padding: .5em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin: 0em .5em 0em .5em;
}

.background-image p {
    line-height: 1.5;
    font-size: 1.5em;
    color: white;
    font-style: italic;
    font-size: 2em;
    margin: 0em 0em 3em 1em;
}

.navbar {
    background-color: #00303F;
    position: sticky;
    top: 0;
    z-index: 2;
    height: 7.5em;
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}

.navbar h1 {
    color: white;
    padding: 1em;
    letter-spacing: 0.075em;
    font-size: 2.25em;
    margin-left: 1em;
}

.navbar nav {
    background-color: #00303F;
    padding: 2em;
    margin-right: 1em;
}

.navbar nav a {
    text-decoration: none;
    color: white;
    margin: 2em;
}

.biography {
    height: 90vh;
    display: flex;
    position: relative;
    padding: 2em;
}

.biography section {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    height: 78vh;
    width: 100vw;
    max-width: 100%;
    background-color: #CAE4DB;
    padding: 0em 6em;
    overflow: auto;
}

.biography h2 {
    font-size: 2.25em;
    overflow: auto;
}

.biography p {
    max-width: 750px;
    text-indent: 3em;
    line-height: 2em;
}

#bio-photo {
    position: absolute;
    display: flex;
    align-self: center;
    margin-left: 60vw;
    z-index: 1;
    width: 600px;
    height: 600px;
    object-fit: cover;
}

.projects {
    display: flex;
    justify-content: center;
    height: 7.5em;
    width: 100vw;
    max-width: 100%;
    background-color: #CDAC81;
}

.projects h3 {
    margin-top: 1em;
    text-align: center;
    color: #00303F;
    font-size: 2.25em;
}

.projects-content {
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
    height: 100vh;
    max-width: 100%;
    background-color: #CAE4DB;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.project-polaroid {
    width: 26vw;
    margin-top: 0;
    background-color: #CDAC81;
}

.container {
    text-align: center;
}

/* hover over polaroid zoom */
.project-polaroid:hover {
    width: 32vw;
    height: 30;
    transition: ease 300ms;
}

.project-polaroid:hover .container {
    display: none;
}

footer {
    height: 7.5em;
    width: 100vw;
    max-width: 100%;
    background-color: #00303F;
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*NOTE- Can't use font-size to change the size of the text inside the icon here? */
footer a {
    margin-right: 2em;
    text-decoration: none;
    color: white;
    padding: 1em;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

@media screen and (max-width: 768px) {
    header,
    .socials-top {
        justify-content: center;
    }
    .background-image p {
        display: none;
    }
    .navbar {
        justify-content: center;
    }
    .navbar h1 {
        display: none;
    }
    .projects-content {
        flex-direction: column;
    }
    .container {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    header,
    #bio-photo {
        display: none;
    }
}
